<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>商品編集</h1>
        <% if @item.errors.any? %>
          <%= @item.errors.count %>件の未入力項目があります。
          <ul>
            <% @item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <%= form_with model: @item do |f| %>
        <div class = "form-group">
          <%= f.label :name, "商品名" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :introduction, "商品説明" %>
          <%= f.text_area :introduction, class: "form-control" %>
        </div>
        <div class = "form-group">
          <%= f.label :price, "税抜価格" %>
          <%= f.text_field :price, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :item_image, "商品画像" %>
          <%= f.file_field :item_image, class: "form-control-file", accept: "image/*" %>
        </div>
        <div class = "form-group">
          <%= f.submit '内容変更', class: "btn btn-success" %>
        </div>
        <% end %>
        <tr>
          <td><%= link_to "商品詳細", show_admin_item_path(@item.id) %></td>
          |
          <td><%= link_to "商品一覧", index_admin_items_path %></td>
        </tr>
      </div>
  </div>
</div>