<div class="container">
  <div class="row">
    <div class="col-md-10 ">
      <h2>商品詳細</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= image_tag @item.get_item_image(100,100) %>
            </td>
            <td>
              <%= @item.name %>
            </td>
            <td>
              <%= @item.price %>
            </td>
          </tr>
          <tr>
            <td>
              <%= @item.introduction %>
            </td>
          </tr>
          <tr>
            <td><%= link_to "商品編集", edit_admin_item_path(@item.id) %></td>
            |
            <td><%= link_to "商品一覧", index_admin_items_path %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>