<div class="container">
  <div class="row">
    <div class = "col-md-8">
      <table class="table table-noborder">
        <h2>管理者ログイン</h2>
        <tbody>
          <%= form_with model: @admin, url:admin_session_path, local:true do |f| %>
          <tr>
            <td><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", :size => "60" %></td>
          </tr>
          <tr>
            <td><%= f.label :パスワード %></td>
            <td><%= f.password_field :password, autocomplete: "current-password", :size => "60" %></td>
          </tr>
          <tr>
            <td>
              <div class = "actions">
                <%= f.submit "ログイン", class: "btn btn-primary" %>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render "admin/shared/links" %>
