<div>
  <%= flash[:notice] %>
</div>
<div class="container container-m">
  <div class="row">
    <div class="col-md-12 cover-img" style = "background-image : url('app/assets/images/no_image.jpg');">
      <div class="cover-text text-center">
        <p>ようこそ、ながのCAKEへ！</p>
        <p>このサイトは、ケーキ販売のECサイトになります。</p>
        <p>会員でない方も商品の閲覧はできますが、</p>
        <p>購入には会員登録が必要になります。</p>
      </div>
    </div>
  </div>
</div>

<div class="container container-m">
<h2 >新着商品</h2>
<div class="card-deck">
  <% @items.each do |item| %>
  <div class="card border-0">
   <div class="card-body">
     <h5 class="card-title"><%= image_tag item.get_image(100,100) %></h5>
      <p class="card-text"><%= item.name %></p>
      <p class="card-text">￥<%= item.price.to_s(:delimited) %></p>
    </div>
  </div>
  <% end %>
  <div>
    <%= link_to "全ての商品を見る", items_path %>
  </div>
</div>