<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <h2>会員一覧</h2>
        
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <% @customers.each do |customer| %>
            <td>
              <%= customer.id %>
            </td>
            <td>
              <%= link_to customer_path do %>
                <%= customer.last_name %><%= customer.first_name %>
              <% end %>
            </td>
            <td>
              <%= customer.email %>
            </td>
            <td>
              <%= customer.is_deleted %>
            </td>
            <td>
              <%= link_to customer_path(customer.id) do %>
            </td>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>