<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 ">
      <h2>会員情報詳細</h2>
      <table class="table">
        <tbody>
          <%# @customers.each do |customer| %>
          <tr>
            <td>顧客名</td>
            <td><%= @customer.last_name %></td>
            <td><%= @customer.first_name %></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= @customer.last_name_kana %></td>
            <td><%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td><%= @customer.is_deleted %></td>
          </tr>
          <tr>
            <td><%= link_to "情報編集" customer_path(customer.id) %></td>
          </tr>
          <%# end %>
        </tbody>
      </table>
    </div>
  </div>
</div>