<div class="container">
  <div class="row">
    <div class="col-md-10 ">
      <h2>注文履歴詳細</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>顧客名</td>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <td>注文ID</td>
            <td><%= @order_detail.order_id %></td>
          </tr>
          <tr>
            <td>商品名</td>
            <td><%= @order_detail.item_id %></td>
          </tr>
          <tr>
            <td>注文数</td>
            <td><%= @order_detail.amount %></td>
          </tr>
          <tr>
            <td>購入金額</td>
            <td><%= @order_detail.total_payment %></td>
          </tr>
          <tr>
            <td>作成ステータス</td>
            <td><%= @order_detail.making_status %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>